@import "../../styles/variables";

#main-layout {
    display: flex;
    position: relative;
    width: 100%;
    .main-layout-content {
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 100vh;
        top: 0;
        left: $width-sidebar;
        width: calc(100% - #{$width-sidebar});
        .main-content {
            display: flex;
            flex: 1;
            height: 0;
            // overflow: auto;
            position: relative;
            .main-content-container {
                display: flex;
            }
        }
    }
}
