@import "../../styles/variables";

#main-topbar {
    background-color: $white;
    box-shadow: 0 1px 0 0 $grey-regular;
    height: 60px;
    z-index: 9;
    position: relative;
    &.main-homepage {
        box-shadow: none;
    }
    &.main-topbar-big {
        height: 120px;
    }
    .top-content {
        font-size: 18px;
        height: 60px;
        width: 100%;
        display: flex;
    }
    .nav-title {
        color: $black;
        font-size: 15px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        .back-text {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $black;
            svg {
                margin-left: -7px;
                path {
                    fill: $black;
                }
            }
        }
        .title {
            font-weight: 700;
        }
    }
    .nav-list {
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style: none;
        float: right;
        margin-bottom: 0px;
        height: 100%;
        .nav-item {
            cursor: pointer;
            margin: 0 0 0 30px;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .notification-icon {
        display: flex;
        align-items: center;
    }
}

#notification-popover {
    width: 300px;
}
#setting-popover {
    width: 250px;
    .header {
        display: flex;
        flex-direction: column;
        text-transform: capitalize;
        .name {
            color: $red-bci;
            font-size: 15px;
            font-weight: 600;
        }
        .title {
            color: $black;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .footer {
        color: $grey-text;
        text-align: left;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
    }

    .topbarsettingLoad {
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#notification-popover,
#setting-popover {
    .body {
        padding: 0 12px;
    }
    .item {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        cursor: pointer;
        &:not(:last-child) {
            border-bottom: 1px solid $grey-regular;
        }
        .icon,
        .title,
        .arrow {
            display: flex;
            align-items: center;
            color: $black;
        }
        .icon {
            min-width: 20px;
            color: $black;
            svg {
                path {
                    fill: $black;
                }
            }
        }
        .title {
            margin-left: 15px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            span {
                font-weight: 600;
                display: flex;
                align-items: center;
                span {
                    margin-left: 20px;
                }
            }
            > span:last-child {
                font-weight: 400;
            }
        }
        .arrow {
            margin-left: auto;
            svg {
                path {
                    fill: $black;
                }
            }
        }
    }
}
