@import "../../styles/_variables.scss";

.tnlm-success-field {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 12px;
    color: $green;
    .tnlm-success-field-badge {
        border-radius: 50%;
        border: 2px solid $green;
        padding: 0px;
        min-width: 13px;
        height: 13px;
        width: 13px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 700;
        font-size: 9px;
        color: $red-bci;
    }
}
