// Colors
$red-bci: #ff0000;
$red-light: #ffe8e8;

$grey-light: #f7f7f7;
$grey-regular: #e8e8e8;
$grey-cool-bci: #808080;
$grey-text: #6a6a73;

$black: #454550;

$blue: #215d95;
$blue-light: #ecf7ff;

$tortoise: #03989e;
$tortoise-light: #d8f4f5;

$white: #fff;

// New Colors
$trolley-gray: #808080;
$gray-94: #f0f0f0;
$new-gray: #cac8c8;
$magenta: #ff7676;
$bci-blue: #0039ff;

$green: #0da738;

// Fonts
$font-regular: "Roboto", sans-serif;

// width
$width-sidebar: 60px;

// box-shadow-regular
$box-shadow-regular: 2px 2px 10px rgba(0, 0, 0, 0.05) !important;

// border-radius-regular
$border-radius-regular: 8px;
