@import "../../styles/variables";

.home-page {
    &:before {
        content: "";
        // position: fixed;
        // width: 100%;
        // height: calc(100% - 60px);
        // bottom: 0;
        // left: 0;
        // z-index: -1;
        // background-color: #fff;
    }
}
