@import "../../styles/variables";

#main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    width: $width-sidebar;
    height: 100%;
    background-color: $white;
    border: 1px solid $gray-94;
    .sidebar-logo,
    .other-app {
        display: flex;
        height: $width-sidebar;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
            height: 40px;
        }
    }
    .other-app {
        transition: 0.3s all;
        margin: 10px 5px;
        height: 40px;
        border-radius: 5px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            path {
                transition: 0.3s all;
                fill: $red-bci;
            }
        }
    }
    .sidebar-menu {
        margin-top: auto;
        border-bottom: 1px solid $grey-regular;
        a {
            display: block;
            margin: 10px 5px;
            .menu {
                transition: 0.3s all;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 10px 0;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                    path {
                        transition: 0.3s all;
                        fill: $red-bci;
                    }
                }
            }
        }
    }
}
