@import "styles/fonts.scss";
@import "styles/variables";
@import "styles/custom.scss";

body {
    margin: 0;
    font-family: $font-regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $grey-light;
}

code {
    font-family: $font-regular;
}
